<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="../../assets/img/Photo_CHALISA.jpg" alt="Chalisa" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">CHALISA</h1>
			<h2 class="quickFade delayThree">CHANGMAI</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
            <br>
            <br>
			<ul>
				<li>email: <a href="mailto:d-m-play@windows.com" target="_blank">d-m-play@windows.com</a></li>
				<li>address: Hirai Oak house, 2 Chome-20-2 Hirai, Edogawa City, Tokyo</li>
				<li>mobile phone(Japan): 080-7572-4903</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Software Engineering | Human Resocia Co., Ltd.</h2>
					<p class="subDetails">2019 March – present | Currently: NEC Solution Innovators, Ltd. August-present</p>
					<p>Created API design used Lambda functions, API Gateway, DynamoDB by using Node.js. Creation of screens following a pre-established template using XAML.  Modified and fixed bugs of Stock product web application using Angular, HTML and CSS. Created Unit case by using Selenium and Appium. The progress is reported daily. </p>
				</article>
				
				<article>
					<h2>Developer| OneDee Solution Co., Ltd., Chiangmai</h2>
					<p class="subDetails">2018 June – August</p>
					<p>Creation of a note function for employees using Ruby on Rails, White Label product for SCG Express, PTT Digital, SC Asset and creation of new feature for an Android application as part of a team. Scrum Process was used for managing and control the task. Every week on Monday had meeting and every Friday had to report the task.</p>
				</article>
				
				<article>
					<h2>Internship | EGAT at Mae Moh Power Plant (Thailand)</h2>
					<p class="subDetails">October 2004 - December 2006</p>
					<p>Maintenance of basic hardware. Network system configuration, 12 core optic fiber combination and worked as a frontend Developer of Web Application ETAS using HTML, CSS.  </p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Skills</h1>
			</div>
			
			<div class="sectionContent">
				<!-- <ul class="keySkills">
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
                </ul> -->
                <div id ="pro-skill">
                    <p>•	Engineering: Internet of Things, Microcontroller, Electric Circuit, Digital Circuit</p>
                    <p>•	Programming: Python, Swift, Ruby on Rails, JavaScript, Angular ,HTML, CSS, Bootstrap</p>
                    <p>•	OS: macOS, Linux, Windows</p>
                    <p>•	Tools: GitHub, Docker, Slack, Team</p>
                    <p>•	Languages: Thai(native), English(intermediate), Japanese(basic)</p>
                </div>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Bachelor’s degree | University</h2>
					<p class="subDetails">2014-2018 </p>
                    <p style="font-weight: bold;">Mae Fah Luang University in Bachelor of Computer Engineering (GPAX: 3.26)</p>
                    <p style="text-indent: 20px;">Bachelor of Engineering (Computer Engineering)2nd Class of Honors on June 1, 2018</p>
				</article>
				
				<article>
					<h2>Intensive course | Academy</h2>
					<p class="subDetails"></p>
					<p style="text-indent: 20px;">Achievement for an intensive course in English from Boston school of modern languages.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
</body>
